*,*::after,*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

header {
    nav {
       form {
          input {
             padding-left: 30px !important;
             margin-left: 30px !important;
             border: 2px solid rgba(0, 119, 255, 0.524) !important;
          }
          .search {
             position: absolute !important;
             top: 10px !important;
             left: 40px !important;
          }
       }
 
       li:not(.panier, .profil) {
          transition: all ease-in-out 0.5s;
          font-weight: bolder;
          &:hover {
             color: rgb(145, 8, 236) !important;
             &:not(.dropdown-toggle):after {
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgb(145, 8, 236) !important;
                content: "";
             }
          }
          a {
             &:hover {
                color: rgb(145, 8, 236) !important;
             }
          }
       }
    }
 }