
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,700;1,900&display=swap');
*,*::after,*::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

.etoile {
   color: rgb(255, 217, 0);
   transform: scale(3);
}
header {
    nav {
       form {
          input {
             padding-left: 30px !important;
             margin-left: 30px !important;
             border: 2px solid rgba(0, 119, 255, 0.524) !important;
          }
          .search {
             position: absolute !important;
             top: 10px !important;
             left: 40px !important;
          }
       }
 
       li:not(.panier, .profil) {
          transition: all ease-in-out 0.5s;
          font-weight: bolder;
          &:hover {
             color: rgb(145, 8, 236) !important;
             &:not(.dropdown-toggle):after {
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgb(145, 8, 236) !important;
                content: "";
             }
          }
          a {
             &:hover {
                color: rgb(145, 8, 236) !important;
             }
          }
       }
    }
 }